@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --text: #0f0a09;
  --background: #fcfbfa;
  --primary: #ff9670;
  --secondary: #bcc9a0;
  --accent: #8bb57e;

  --font-title: "LXGW WenKai TC", system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-main: FakePearl, system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;

  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-accent: var(--accent);
}

[data-theme="dark"]  {
  --text: #f7f3e8;
  --background: #0b0a04;
  --primary: #ff9670;
  --secondary: #556525;
  --accent: #709136;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff) format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: ChenYuluoyan;
  src: url(https://cdn.jsdelivr.net/gh/Chenyu-otf/chenyuluoyan_thin@latest/ChenYuluoyan-Thin.ttf);
  font-display: swap;
}